.popup {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #f9f9f9;
    padding: 20px;
    border: 1px solid #ccc;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    max-width: 80%;
    width: 300px;
    border-radius: 8px;
}

.popup-content {
    text-align: center;
}

.popup h2 {
    margin-top: 0;
    font-size: 1.2rem;
    color: #333;
}

.popup input[type="text"] {
    width: calc(100% - 20px);
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 1rem;
}

.popup button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1rem;
}

.popup button:hover {
    background-color: #45a049;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 900;
    display: none;
}

#poiList {
    list-style: none;
    margin: 50px auto;
    padding: 0;
}

li {
    background-color: #fff;
    border-radius: 5px;
    margin-bottom: 10px;
    padding: 15px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    font-weight: bold;
}

.header {
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 5px;
    background-color: #f9f9f9;
    border-bottom: 1px solid #ccc;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header h1 {
    margin: 0;
    font-size: 1.8rem;
    color: #333;
}

.content {
    padding: 5px;
}

#centralMap {
    height: 300px;
    margin-bottom: 20px;
}

#progressContainer {
    width: 100%;
    background-color: #e0e0e0;
    border-radius: 5px;
    margin-top: 50px;
    margin-bottom: 10px;
}

#progressBar {
    width: 0;
    height: 30px;
    background-color: #76c7c0;
    border-radius: 5px;
    text-align: center;
    color: white;
    line-height: 30px;
}

#recentUsecases {
    margin-top: 50px;
}

#recentUseCasesList {
    list-style-type: none;
    padding: 0;
}

#recentUseCasesList li {
    cursor: pointer;
    margin: 5px 0;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

#recentUseCasesList li:hover {
    background-color: #f0f0f0;
}

#hint {
    display: flex;
    justify-content: center;
}

